<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Mis llamadas de recepción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="25/04/2023 14:29" createdAt="24/04/2022" 
  notes="tenemos dos bolsas llenas, una con plastico y otra con vidrio"></app-pickup-call-card>
  
  <app-pickup-call-card status="en proceso" updatedAt="24/04/2023 18:29" createdAt="23/04/2022" 
  notes="tenemos dos bolsas llenas"></app-pickup-call-card>
  
  <app-pickup-call-card status="Terminada" updatedAt="23/04/2021 18:00" createdAt="22/04/2021" value="$ 12,000"></app-pickup-call-card>

</ion-content>
